USE [master]
GO
/****** Object:  Database [LithoManagerPro]    Script Date: 26/7/2026 01:35:27 ******/
CREATE DATABASE [LithoManagerPro]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LithoManagerPro', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LithoManagerPro.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LithoManagerPro_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LithoManagerPro_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LithoManagerPro].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LithoManagerPro]
GO
/****** Object:  Schema [Audit]    Script Date: 26/7/2026 01:35:27 ******/
CREATE SCHEMA [Audit]
GO
/****** Object:  Schema [HumanResources]    Script Date: 26/7/2026 01:35:27 ******/
CREATE SCHEMA [HumanResources]
GO
/****** Object:  Schema [Security]    Script Date: 26/7/2026 01:35:27 ******/
CREATE SCHEMA [Security]
GO
/****** Object:  Table [Audit].[AuditLogs]    Script Date: 26/7/2026 01:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Audit].[AuditLogs](
	[AuditLogId] [bigint] IDENTITY(1,1) NOT NULL,
	[CorrelationId] [uniqueidentifier] NOT NULL,
	[ModuleName] [nvarchar](128) NOT NULL,
	[ActionName] [nvarchar](100) NOT NULL,
	[EntityName] [nvarchar](128) NULL,
	[EntityId] [nvarchar](100) NULL,
	[ActorType] [nvarchar](20) NOT NULL,
	[ActorUserId] [int] NULL,
	[ActorEmailAddress] [nvarchar](254) NULL,
	[ActorRoleCode] [nvarchar](50) NULL,
	[IsSuccessful] [bit] NOT NULL,
	[EventDescription] [nvarchar](500) NULL,
	[ClientIpAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](512) NULL,
	[HttpMethod] [nvarchar](10) NULL,
	[RequestPath] [nvarchar](500) NULL,
	[PreviousValuesJson] [nvarchar](max) NULL,
	[NewValuesJson] [nvarchar](max) NULL,
	[AdditionalDataJson] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](2000) NULL,
	[OccurredAtUtc] [datetime2](3) NOT NULL,
 CONSTRAINT [PkAuditLogs] PRIMARY KEY CLUSTERED 
(
	[AuditLogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HumanResources].[Departments]    Script Date: 26/7/2026 01:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HumanResources].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[CreatedByUserId] [int] NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
	[UpdatedByUserId] [int] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PkDepartments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UqDepartmentsDepartmentCode] UNIQUE NONCLUSTERED 
(
	[DepartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UqDepartmentsName] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HumanResources].[Employees]    Script Date: 26/7/2026 01:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HumanResources].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[IdentificationNumber] [nvarchar](30) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](150) NOT NULL,
	[PhoneNumber] [nvarchar](25) NULL,
	[BirthDate] [date] NULL,
	[HireDate] [date] NOT NULL,
	[TerminationDate] [date] NULL,
	[JobTitle] [nvarchar](100) NOT NULL,
	[BaseSalary] [decimal](18, 2) NOT NULL,
	[ProfileImagePath] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[CreatedByUserId] [int] NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
	[UpdatedByUserId] [int] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PkEmployees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UqEmployeesIdentificationNumber] UNIQUE NONCLUSTERED 
(
	[IdentificationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UqEmployeesUserId] UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Security].[Roles]    Script Date: 26/7/2026 01:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[IsSystemRole] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PkRoles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UqRolesRoleCode] UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Security].[Users]    Script Date: 26/7/2026 01:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Security].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[EmailAddress] [nvarchar](254) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[IsEmailConfirmed] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[RequiresPasswordChange] [bit] NOT NULL,
	[TemporaryPasswordExpiresAtUtc] [datetime2](3) NULL,
	[PasswordChangedAtUtc] [datetime2](3) NULL,
	[FailedLoginAttempts] [smallint] NOT NULL,
	[LockoutEndAtUtc] [datetime2](3) NULL,
	[LastLoginAtUtc] [datetime2](3) NULL,
	[CreatedAtUtc] [datetime2](3) NOT NULL,
	[CreatedByUserId] [int] NULL,
	[UpdatedAtUtc] [datetime2](3) NULL,
	[UpdatedByUserId] [int] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PkUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UqUsersEmailAddress] UNIQUE NONCLUSTERED 
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IxAuditLogsActorUserIdOccurredAtUtc]    Script Date: 26/7/2026 01:35:27 ******/
CREATE NONCLUSTERED INDEX [IxAuditLogsActorUserIdOccurredAtUtc] ON [Audit].[AuditLogs]
(
	[ActorUserId] ASC,
	[OccurredAtUtc] DESC
)
INCLUDE([ModuleName],[ActionName],[EntityName],[EntityId],[IsSuccessful]) 
WHERE ([ActorUserId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IxAuditLogsCorrelationId]    Script Date: 26/7/2026 01:35:27 ******/
CREATE NONCLUSTERED INDEX [IxAuditLogsCorrelationId] ON [Audit].[AuditLogs]
(
	[CorrelationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IxAuditLogsEntityNameEntityIdOccurredAtUtc]    Script Date: 26/7/2026 01:35:27 ******/
CREATE NONCLUSTERED INDEX [IxAuditLogsEntityNameEntityIdOccurredAtUtc] ON [Audit].[AuditLogs]
(
	[EntityName] ASC,
	[EntityId] ASC,
	[OccurredAtUtc] DESC
)
INCLUDE([ModuleName],[ActionName],[ActorUserId],[IsSuccessful]) 
WHERE ([EntityName] IS NOT NULL AND [EntityId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IxAuditLogsOccurredAtUtc]    Script Date: 26/7/2026 01:35:27 ******/
CREATE NONCLUSTERED INDEX [IxAuditLogsOccurredAtUtc] ON [Audit].[AuditLogs]
(
	[OccurredAtUtc] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IxEmployeesDepartmentIdIsActive]    Script Date: 26/7/2026 01:35:27 ******/
CREATE NONCLUSTERED INDEX [IxEmployeesDepartmentIdIsActive] ON [HumanResources].[Employees]
(
	[DepartmentId] ASC,
	[IsActive] ASC
)
INCLUDE([UserId],[IdentificationNumber],[FirstName],[LastName],[JobTitle]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IxUsersCreatedByUserId]    Script Date: 26/7/2026 01:35:27 ******/
CREATE NONCLUSTERED INDEX [IxUsersCreatedByUserId] ON [Security].[Users]
(
	[CreatedByUserId] ASC
)
WHERE ([CreatedByUserId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IxUsersRoleIdIsActive]    Script Date: 26/7/2026 01:35:27 ******/
CREATE NONCLUSTERED INDEX [IxUsersRoleIdIsActive] ON [Security].[Users]
(
	[RoleId] ASC,
	[IsActive] ASC
)
INCLUDE([EmailAddress],[IsEmailConfirmed],[RequiresPasswordChange],[LastLoginAtUtc]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IxUsersUpdatedByUserId]    Script Date: 26/7/2026 01:35:27 ******/
CREATE NONCLUSTERED INDEX [IxUsersUpdatedByUserId] ON [Security].[Users]
(
	[UpdatedByUserId] ASC
)
WHERE ([UpdatedByUserId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Audit].[AuditLogs] ADD  CONSTRAINT [DfAuditLogsCorrelationId]  DEFAULT (newid()) FOR [CorrelationId]
GO
ALTER TABLE [Audit].[AuditLogs] ADD  CONSTRAINT [DfAuditLogsIsSuccessful]  DEFAULT ((1)) FOR [IsSuccessful]
GO
ALTER TABLE [Audit].[AuditLogs] ADD  CONSTRAINT [DfAuditLogsOccurredAtUtc]  DEFAULT (sysutcdatetime()) FOR [OccurredAtUtc]
GO
ALTER TABLE [HumanResources].[Departments] ADD  CONSTRAINT [DfDepartmentsIsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [HumanResources].[Departments] ADD  CONSTRAINT [DfDepartmentsCreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [HumanResources].[Employees] ADD  CONSTRAINT [DfEmployeesIsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [HumanResources].[Employees] ADD  CONSTRAINT [DfEmployeesCreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [Security].[Roles] ADD  CONSTRAINT [DfRolesIsSystemRole]  DEFAULT ((1)) FOR [IsSystemRole]
GO
ALTER TABLE [Security].[Roles] ADD  CONSTRAINT [DfRolesIsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Security].[Roles] ADD  CONSTRAINT [DfRolesCreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [Security].[Users] ADD  CONSTRAINT [DfUsersIsEmailConfirmed]  DEFAULT ((0)) FOR [IsEmailConfirmed]
GO
ALTER TABLE [Security].[Users] ADD  CONSTRAINT [DfUsersIsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [Security].[Users] ADD  CONSTRAINT [DfUsersRequiresPasswordChange]  DEFAULT ((1)) FOR [RequiresPasswordChange]
GO
ALTER TABLE [Security].[Users] ADD  CONSTRAINT [DfUsersFailedLoginAttempts]  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [Security].[Users] ADD  CONSTRAINT [DfUsersCreatedAtUtc]  DEFAULT (sysutcdatetime()) FOR [CreatedAtUtc]
GO
ALTER TABLE [HumanResources].[Departments]  WITH CHECK ADD  CONSTRAINT [FkDepartmentsUsersCreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [Security].[Users] ([UserId])
GO
ALTER TABLE [HumanResources].[Departments] CHECK CONSTRAINT [FkDepartmentsUsersCreatedByUserId]
GO
ALTER TABLE [HumanResources].[Departments]  WITH CHECK ADD  CONSTRAINT [FkDepartmentsUsersUpdatedByUserId] FOREIGN KEY([UpdatedByUserId])
REFERENCES [Security].[Users] ([UserId])
GO
ALTER TABLE [HumanResources].[Departments] CHECK CONSTRAINT [FkDepartmentsUsersUpdatedByUserId]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [FkEmployeesDepartmentsDepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [HumanResources].[Departments] ([DepartmentId])
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [FkEmployeesDepartmentsDepartmentId]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [FkEmployeesUsersCreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [Security].[Users] ([UserId])
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [FkEmployeesUsersCreatedByUserId]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [FkEmployeesUsersUpdatedByUserId] FOREIGN KEY([UpdatedByUserId])
REFERENCES [Security].[Users] ([UserId])
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [FkEmployeesUsersUpdatedByUserId]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [FkEmployeesUsersUserId] FOREIGN KEY([UserId])
REFERENCES [Security].[Users] ([UserId])
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [FkEmployeesUsersUserId]
GO
ALTER TABLE [Security].[Users]  WITH CHECK ADD  CONSTRAINT [FkUsersRolesRoleId] FOREIGN KEY([RoleId])
REFERENCES [Security].[Roles] ([RoleId])
GO
ALTER TABLE [Security].[Users] CHECK CONSTRAINT [FkUsersRolesRoleId]
GO
ALTER TABLE [Security].[Users]  WITH CHECK ADD  CONSTRAINT [FkUsersUsersCreatedByUserId] FOREIGN KEY([CreatedByUserId])
REFERENCES [Security].[Users] ([UserId])
GO
ALTER TABLE [Security].[Users] CHECK CONSTRAINT [FkUsersUsersCreatedByUserId]
GO
ALTER TABLE [Security].[Users]  WITH CHECK ADD  CONSTRAINT [FkUsersUsersUpdatedByUserId] FOREIGN KEY([UpdatedByUserId])
REFERENCES [Security].[Users] ([UserId])
GO
ALTER TABLE [Security].[Users] CHECK CONSTRAINT [FkUsersUsersUpdatedByUserId]
GO
ALTER TABLE [Audit].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CkAuditLogsActionNameNotBlank] CHECK  ((len(ltrim(rtrim([ActionName])))>(0)))
GO
ALTER TABLE [Audit].[AuditLogs] CHECK CONSTRAINT [CkAuditLogsActionNameNotBlank]
GO
ALTER TABLE [Audit].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CkAuditLogsActorType] CHECK  (([ActorType]=N'Anonymous' OR [ActorType]=N'System' OR [ActorType]=N'User'))
GO
ALTER TABLE [Audit].[AuditLogs] CHECK CONSTRAINT [CkAuditLogsActorType]
GO
ALTER TABLE [Audit].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CkAuditLogsAdditionalDataJson] CHECK  (([AdditionalDataJson] IS NULL OR isjson([AdditionalDataJson])=(1)))
GO
ALTER TABLE [Audit].[AuditLogs] CHECK CONSTRAINT [CkAuditLogsAdditionalDataJson]
GO
ALTER TABLE [Audit].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CkAuditLogsHttpMethod] CHECK  (([HttpMethod] IS NULL OR ([HttpMethod]=N'DELETE' OR [HttpMethod]=N'PATCH' OR [HttpMethod]=N'PUT' OR [HttpMethod]=N'POST' OR [HttpMethod]=N'GET')))
GO
ALTER TABLE [Audit].[AuditLogs] CHECK CONSTRAINT [CkAuditLogsHttpMethod]
GO
ALTER TABLE [Audit].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CkAuditLogsModuleNameNotBlank] CHECK  ((len(ltrim(rtrim([ModuleName])))>(0)))
GO
ALTER TABLE [Audit].[AuditLogs] CHECK CONSTRAINT [CkAuditLogsModuleNameNotBlank]
GO
ALTER TABLE [Audit].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CkAuditLogsNewValuesJson] CHECK  (([NewValuesJson] IS NULL OR isjson([NewValuesJson])=(1)))
GO
ALTER TABLE [Audit].[AuditLogs] CHECK CONSTRAINT [CkAuditLogsNewValuesJson]
GO
ALTER TABLE [Audit].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CkAuditLogsPreviousValuesJson] CHECK  (([PreviousValuesJson] IS NULL OR isjson([PreviousValuesJson])=(1)))
GO
ALTER TABLE [Audit].[AuditLogs] CHECK CONSTRAINT [CkAuditLogsPreviousValuesJson]
GO
ALTER TABLE [Audit].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [CkAuditLogsUserActor] CHECK  (([ActorType]<>N'User' OR [ActorUserId] IS NOT NULL))
GO
ALTER TABLE [Audit].[AuditLogs] CHECK CONSTRAINT [CkAuditLogsUserActor]
GO
ALTER TABLE [HumanResources].[Departments]  WITH CHECK ADD  CONSTRAINT [CkDepartmentsDepartmentCodeNoSpaces] CHECK  ((NOT [DepartmentCode] like N'% %'))
GO
ALTER TABLE [HumanResources].[Departments] CHECK CONSTRAINT [CkDepartmentsDepartmentCodeNoSpaces]
GO
ALTER TABLE [HumanResources].[Departments]  WITH CHECK ADD  CONSTRAINT [CkDepartmentsDepartmentCodeNotBlank] CHECK  ((len(ltrim(rtrim([DepartmentCode])))>(0)))
GO
ALTER TABLE [HumanResources].[Departments] CHECK CONSTRAINT [CkDepartmentsDepartmentCodeNotBlank]
GO
ALTER TABLE [HumanResources].[Departments]  WITH CHECK ADD  CONSTRAINT [CkDepartmentsDepartmentCodeTrimmed] CHECK  (([DepartmentCode]=ltrim(rtrim([DepartmentCode]))))
GO
ALTER TABLE [HumanResources].[Departments] CHECK CONSTRAINT [CkDepartmentsDepartmentCodeTrimmed]
GO
ALTER TABLE [HumanResources].[Departments]  WITH CHECK ADD  CONSTRAINT [CkDepartmentsDescriptionNotBlank] CHECK  (([Description] IS NULL OR len(ltrim(rtrim([Description])))>(0)))
GO
ALTER TABLE [HumanResources].[Departments] CHECK CONSTRAINT [CkDepartmentsDescriptionNotBlank]
GO
ALTER TABLE [HumanResources].[Departments]  WITH CHECK ADD  CONSTRAINT [CkDepartmentsNameNotBlank] CHECK  ((len(ltrim(rtrim([Name])))>(0)))
GO
ALTER TABLE [HumanResources].[Departments] CHECK CONSTRAINT [CkDepartmentsNameNotBlank]
GO
ALTER TABLE [HumanResources].[Departments]  WITH CHECK ADD  CONSTRAINT [CkDepartmentsNameTrimmed] CHECK  (([Name]=ltrim(rtrim([Name]))))
GO
ALTER TABLE [HumanResources].[Departments] CHECK CONSTRAINT [CkDepartmentsNameTrimmed]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesBaseSalaryNonNegative] CHECK  (([BaseSalary]>=(0)))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesBaseSalaryNonNegative]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesEmploymentDates] CHECK  (([TerminationDate] IS NULL OR [TerminationDate]>=[HireDate]))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesEmploymentDates]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesFirstNameNotBlank] CHECK  ((len(ltrim(rtrim([FirstName])))>(0)))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesFirstNameNotBlank]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesFirstNameTrimmed] CHECK  (([FirstName]=ltrim(rtrim([FirstName]))))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesFirstNameTrimmed]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesIdentificationNumberNotBlank] CHECK  ((len(ltrim(rtrim([IdentificationNumber])))>(0)))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesIdentificationNumberNotBlank]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesIdentificationNumberTrimmed] CHECK  (([IdentificationNumber]=ltrim(rtrim([IdentificationNumber]))))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesIdentificationNumberTrimmed]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesJobTitleNotBlank] CHECK  ((len(ltrim(rtrim([JobTitle])))>(0)))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesJobTitleNotBlank]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesJobTitleTrimmed] CHECK  (([JobTitle]=ltrim(rtrim([JobTitle]))))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesJobTitleTrimmed]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesLastNameNotBlank] CHECK  ((len(ltrim(rtrim([LastName])))>(0)))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesLastNameNotBlank]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesLastNameTrimmed] CHECK  (([LastName]=ltrim(rtrim([LastName]))))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesLastNameTrimmed]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesPhoneNumberNotBlank] CHECK  (([PhoneNumber] IS NULL OR len(ltrim(rtrim([PhoneNumber])))>(0)))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesPhoneNumberNotBlank]
GO
ALTER TABLE [HumanResources].[Employees]  WITH CHECK ADD  CONSTRAINT [CkEmployeesProfileImagePathNotBlank] CHECK  (([ProfileImagePath] IS NULL OR len(ltrim(rtrim([ProfileImagePath])))>(0)))
GO
ALTER TABLE [HumanResources].[Employees] CHECK CONSTRAINT [CkEmployeesProfileImagePathNotBlank]
GO
ALTER TABLE [Security].[Roles]  WITH CHECK ADD  CONSTRAINT [CkRolesDescriptionNotBlank] CHECK  ((len(ltrim(rtrim([Description])))>(0)))
GO
ALTER TABLE [Security].[Roles] CHECK CONSTRAINT [CkRolesDescriptionNotBlank]
GO
ALTER TABLE [Security].[Roles]  WITH CHECK ADD  CONSTRAINT [CkRolesDisplayNameNotBlank] CHECK  ((len(ltrim(rtrim([DisplayName])))>(0)))
GO
ALTER TABLE [Security].[Roles] CHECK CONSTRAINT [CkRolesDisplayNameNotBlank]
GO
ALTER TABLE [Security].[Roles]  WITH CHECK ADD  CONSTRAINT [CkRolesRoleCodeNotBlank] CHECK  ((len(ltrim(rtrim([RoleCode])))>(0)))
GO
ALTER TABLE [Security].[Roles] CHECK CONSTRAINT [CkRolesRoleCodeNotBlank]
GO
ALTER TABLE [Security].[Users]  WITH CHECK ADD  CONSTRAINT [CkUsersEmailAddressNoSpaces] CHECK  ((NOT [EmailAddress] like N'% %'))
GO
ALTER TABLE [Security].[Users] CHECK CONSTRAINT [CkUsersEmailAddressNoSpaces]
GO
ALTER TABLE [Security].[Users]  WITH CHECK ADD  CONSTRAINT [CkUsersEmailAddressNotBlank] CHECK  ((len(ltrim(rtrim([EmailAddress])))>(0)))
GO
ALTER TABLE [Security].[Users] CHECK CONSTRAINT [CkUsersEmailAddressNotBlank]
GO
ALTER TABLE [Security].[Users]  WITH CHECK ADD  CONSTRAINT [CkUsersEmailAddressTrimmed] CHECK  (([EmailAddress]=ltrim(rtrim([EmailAddress]))))
GO
ALTER TABLE [Security].[Users] CHECK CONSTRAINT [CkUsersEmailAddressTrimmed]
GO
ALTER TABLE [Security].[Users]  WITH CHECK ADD  CONSTRAINT [CkUsersFailedLoginAttempts] CHECK  (([FailedLoginAttempts]>=(0)))
GO
ALTER TABLE [Security].[Users] CHECK CONSTRAINT [CkUsersFailedLoginAttempts]
GO
ALTER TABLE [Security].[Users]  WITH CHECK ADD  CONSTRAINT [CkUsersPasswordHashNotBlank] CHECK  ((len(ltrim(rtrim([PasswordHash])))>(0)))
GO
ALTER TABLE [Security].[Users] CHECK CONSTRAINT [CkUsersPasswordHashNotBlank]
GO
ALTER TABLE [Security].[Users]  WITH CHECK ADD  CONSTRAINT [CkUsersTemporaryPasswordExpiration] CHECK  (([TemporaryPasswordExpiresAtUtc] IS NULL OR [RequiresPasswordChange]=(1)))
GO
ALTER TABLE [Security].[Users] CHECK CONSTRAINT [CkUsersTemporaryPasswordExpiration]
GO
USE [master]
GO
